<html>
    <header>
        <h1>WELCOME</h1>
        <p>Srividya Ramachandra</p>
        <p>1002008122</p>
      </header>
    <body>
        <form action = "/get_salary" method = "post">
            <p>Enter Salary:</p>
            <p><input type = "text" name = "name"></p>
            <p><input type = "number" name = "sal1"></p>
            <p><input type = "text" name = "text"></p>

            <p><input type ="submit" name ="Submit"></p>
          
        </form>
    </body>
</html>