<html>
    <header>
      <h1>WELCOME</h1>
      <p>Srividya Ramachandra</p>
      <p>1002008122</p>
    </header>
    <body>
        <form action = "/user" method = "post">
            <img id="picture" src="data:image/jpeg;base64,{{ photo_name }}">  
            <p>Srividya Ramachandra</p>
            <p>1002008122</p>         
            If you want to Upload an a file<picture></picture><a href="upload">Click Here</a>
            If you want to see Salary<picture></picture><a href="get_salary">Click Here</a>
            If you want to see Update<picture></picture><a href="nameinc">Click Here</a>
            
        </form>
    </body>
</html>