
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Table </title>              
    </head>
    <body>
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    <h2>{{titles[loop.index]}}</h2>  
                             
                    {{ table|safe }}
                    {% endfor %}  
                    <img id=<img id="picture" src="data:image/jpeg;base64,{{photo_list}}"> 
                    </ul>     
                </h1> 
            </table>
        </div>
    </body>
</html>