<html>
    <header>
      <h1>WELCOME</h1>
      <p>Get all User Information Here</p>
    </header>
    <body>
        <form action = "/user" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "name"></p>
            <p><input type ="submit" name ="Submit"></p>
            If you want to search based on salary <a href="get_salary">Click Here</a>
            If you want to Upload or Change a <picture></picture><a href="upload">Click Here</a>
            Find out something about the user <picture></picture><a href="keywords">Click Here</a>
        </form>
    </body>
</html>